*.ini
/Firmware/object/*.*
/Firmware/list/*.*
/Firmware/environment/*.bak
/Firmware/environment/*.dep
/Firmware/environment/*.drmoore
/Firmware/environment/*.uvopt

/Software/RetrieveTestData/*.asv

/Hardware/*.s##
/Hardware/*.b##
/Hardware/*.epf

/Firmware/*.bak
/Hardware/LAB-PPS330D/docs/SPICE/*.log
/Hardware/LAB-PPS330D/docs/SPICE/*.raw
/Firmware/ANTEPRIME/environment/*.dep
/Firmware/ANTEPRIME/environment/*.bak
/Firmware/ANTEPRIME/object/*.d
/Firmware/ANTEPRIME/list
/Firmware/ANTEPRIME/object
*.epf
/Firmware/PRIME/MDK-ARM/PRIME Build/*.crf
/Firmware/PRIME/MDK-ARM/PRIME Build/*.d
/Firmware/PRIME/MDK-ARM/PRIME Build/*.o
*.uvoptx
*.drmoore
*.iex
*.axf
*.htm
*.lnp
*.map
*.dep
*.lst
*.crf
*.d
*.o
/Firmware/PRIMEa
/Firmware/PRIMEorg
*.project
*.cproject
/Software/RetrieveTestData/results/*.mat
/Software/RetrieveTestData/*.fig
/Firmware/PRIME/Src/*.bak
/Firmware/PRIME/MDK-ARM/PRIME Build/*._2i
/Software/RetrieveTestData/results
