*.ini
/Firmware/object/*.*
/Firmware/list/*.*
/Firmware/environment/*.bak
/Firmware/environment/*.dep
/Firmware/environment/*.drmoore
/Firmware/environment/*.uvopt

/Software/RetrieveTestData/*.asv

/Hardware/*.s##
/Hardware/*.b##
/Hardware/*.epf

/Firmware/*.bak
